body {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: url(assets/library_background3.jpeg) no-repeat center center fixed;
  background-size: cover;
  }
     
body:before {
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  content: "text";
  position: absolute; width: 100%;
  background: url(assets/library_background3.jpeg)  no-repeat center center fixed;
  background-size: cover;
  z-index: -1; /* Keep the background behind the content */
  min-height: 275px;
  max-height: 275px;
  /* don't forget to use the prefixes you need */
  -webkit-filter: blur(17px);

 }

 .glass {
  left:0;
  right:0;
  top:0;
  bottom:0;
  margin:auto;
  content: "text";
  position: absolute; width: 100%;
  z-index: -1; /* Keep the background behind the content */
  min-height: 250px;
  max-height: 250px;
  /* don't forget to use the prefixes you need */
  border-top: solid 0.1em #9f6464;
  border-bottom: solid 0.1em #9f6464;
 }

 .logo {
 	top:0; bottom:0; right:0; left:50%;
 	margin:auto;
 	position:absolute;
 	height: 180px;
 	-webkit-animation: move_left 5s;
 	-webkit-animation-fill-mode: forwards;
 	/*transition: transform 2s ease-in-out;
 	transform: translate(-75%, 0px);*/
 }

 @-webkit-keyframes move_left {
 	0% {}
 	100% { left:-70%; }
 }