/*
 *
 * Loading.css;
 * Stylesheet for LibraryManagement loading page
 * Author: Jimil Patel <pateljim@umich.edu>;
 *
 */

/***** GENERAL STYLES *****/
body {
  position: absolute;
  overflow: hidden;
  top: 0; bottom: 0; left: 0; right: 0;
  background: url(assets/library_background3.jpeg) no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

div {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; 
  margin: auto;
  width: 100%;
  overflow: hidden;
}

img {
  top: 0; bottom: 0; left: 0; right: 0;
  position: absolute;
}

/***** CONTENT STYLES *****/
.wrapper {

}

.blur {
  content: "text";
  background: url(assets/library_background3.jpeg) no-repeat center center fixed;
  background-size: cover;
  min-height: 260px; max-height: 260px; /* standardize for mobile */
  -webkit-filter: blur(150px); -moz-filter: blur(150px);
  -o-filter: blur(150px); -ms-filter: blur(150px);

}

 .logo {
  left: 50%;
  margin: auto;
 	height: 150px;
 	-webkit-animation: move_left 5s; -moz-animation: move_left 5s;
  -o-animation: move_left 5s; -ms-animation: move_left 5s;
 	-webkit-animation-fill-mode: forwards; -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards; -ms-animation-fill-mode: forwards;
 }


/***** ANIMATION *****/
 @-webkit-keyframes move_left {
 	0% {}
 	100% { left:-70%; }
 }