/*********************/
/****** GENERAL ******/
/*********************/

html {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: rgb(251, 246, 251);
}

aside {
  margin-bottom: 0;
}

h1, h2 {
  font-weight: lighter;
  letter-spacing: 14px;
}

p {
  line-height: 2rem;
}


i {
  margin-top: 1.7rem;
}

/********************/
/****** HEADER ******/
/********************/
@media only screen and (max-width: 600px) {
  .header {
    color: #1c3655;
  }
}

@media only screen and (min-width: 600px) {
  .header {
    color: white;
  }
}

@media only screen and (max-width : 992px) {
  .parallax img {
    max-height: 150%;
  }
}

@media only screen and (min-width: 993px) {
  .parallax img {
    max-height: 170%;
  }
}

.header {
  margin-top: 30%;
  height: 100%;
}

.parallax-container {
  height: 100%;
  height: 100vh;
}

.brand-logo {
  color: black;
}

#white_icon {
  color: white;
}

/********************/
/****** NAVBAR ******/
/********************/

@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 60px;
        line-height: 60px;
    }
}

@media only screen and (max-width: 480px) {
  nav .brand-logo {
    font-size: 0.5rem;
  }
}

nav {
  position: fixed;
  background-color: rgba(255,255,255,0.9);
  height: 60px;
  line-height: 60px;
  z-index: 7;
}

nav .brand-logo { 
    font-size: 1.6rem; 
}

nav ul a,
nav .brand-logo {
  color: #444;
}

nav .button-collapse i {
    height: 60px;
    line-height: 60px;
}

nav #logo-container {
  font-size: 2rem;
  letter-spacing: 5px;
  font-weight: bold;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 30px;
    line-height: 30px;
}

.button-collapse {
  color: #26a69a;
}

.nav-wrapper {
  padding-left: 40px;
  padding-right: 40px;
}

.nav-wrapper a {
  font-size: 1.5em;
  letter-spacing: 4px;
}

.nav-mobile-icon {
  margin-top: 0;
}

#nav-mobile {
  padding-top: 15px;
}

#nav-mobile a {
  font-size: 150%;
  letter-spacing: 4px;
  font-weight: bold;
}

#sidenav-overlay {
  z-index: 6;
}

#mid_blue_icon {
  color: #204672;
}

/*******************/
/****** ABOUT ******/
/*******************/

.flow-text {
  letter-spacing: 1.5px;
}

@media only screen and (min-width: 600px) {
.flow-text {
    font-size: 1.3rem;
}}

/*******************/
/****** FORMS ******/
/*******************/

/* Modal CSS properties... */

.forms {
  color: white;
  min-height: 8em;
  height: 8em;

}

#forms {
  background: #003973;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f9b3ae, #003973);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f9b3ae, #003973); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/********************/
/****** FOOTER ******/
/********************/

.footer-icons {
  margin: 0;
  padding: 0;
}

footer.page-footer {
  margin: 0;
}